<%- include("templates/encabezado")%>
    <h1>Lista de productos</h1>
    <div class="contenedor">
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Editar / Borrar</th>
                </tr>
            </thead>
            <tbody>
                <% productosCorrectos.forEach((producto)=>{ %>
                <tr class="hover">
                    <td><%= producto.id_prod %></td>
                    <td><%= producto.nom_prod %></td>
                    <td><%= producto.categoria %></td>
                    <td><%= producto.stock %></td>
                    <td>$<%= producto.precio %></td>
                    <td>
                        <a href="/editarProducto/<%= producto.id_prod%>">Editar</a> / 
                        <a href="/borrarProducto/<%= producto.id_prod%>">Borrar</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/"><button type="button">Ir a Usuarios</button></a>
        <a href="/agregarProducto"><button type="button">Agregar Producto</button></a>
    </div>
<%- include("templates/pie")%>